@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* PLAYER STYLES */

.PlayerNewsPost-player {
  display: flex;
}

.PlayerNewsPost-image .Image {
  width: 75px;
  height: 75px;
  border-radius: 3px;
} 

.PlayerNewsPost-name {
  font-size: 1.25em;
  padding-left: 10px;
}

.PlayerNewsPost-team {
  display: flex;
  align-items: center;
  padding-top: 5px;
  margin-left:5px;
  font-size: 0.85em;
  color: #D8D8D8;
}

.PlayerNewsPost-team-logo {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
}

.PlayerNewsPost-team span {
  margin: 0 5px;
}

.PlayerNewsPost-position::before, .PlayerNewsPost-number::before {
  content: "• "
}

/* HEADLINES STYLES */

.PlayerNewsPost-headline {
  font-weight: 700;
  font-size: 1.1em;
  margin: 10px 0;
}

.PlayerNewsPost-analysis {
  line-height: 1.5em;
  margin-bottom: 10px;
  font-weight: 300;
  color: #D8D8D8
}

/* RELATED STYLES */

.PlayerNewsPost-related {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.PlayerNewsPost-related-items, .PlayerNewsPost-related-item > a {
  display: flex;
  align-items: center;
  height: 30px;
}

.PlayerNewsPost-related-item {
  border: 1px solid white;
  border-radius: 100px;
  margin: 5px;
  padding: 0 10px;
}

.PlayerNewsPost-related-item .Image {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 8px;
}

.PlayerNewsPost-related {
  display: none;
}




